@import url("../main.css");
@import url("../components/legal-document.css");

body[data-area="legal"][data-page="home"] [data-page-content] .section {
  padding-bottom: 0;
}

body[data-area="legal"][data-page="home"] .social-section {
  padding-top: 0;
}

body[data-area="legal"][data-page="home"] .hero {
  padding-bottom: 0;
}
